openapi: 3.0.3
info:
  title: Onboarding API
  description:  STD22051
  version: 1.2.0

servers:
  - url: https://STD22051.com

paths:
  /students:
    get:
      tags:
        - students
      summary : Show students
      responses:
        '200':
          description: successful operation
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Students'
    post:
      tags:
        - students
      summary: Add a new student
      requestBody:
        description: Create a new student
        content: 
          application/json: 
              schema: 
                $ref: '#/components/schemas/Students'
        required: true
      responses:
          '201':
            description: Created
            content: 
              application/json: 
                schema: 
                  $ref: '#/components/schemas/Students'
    put:
      tags:
        - students
      summary : Edit a student
      responses:
        '200':
          description: successful operation
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Students'
        '404':
          description: Student not found
          content:
            application/json:
              example:
                message: Student not found
    delete:
      tags:
        - students
      summary : Delete a student
      responses:
        '200':
          description: successful operation
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Students'
        '404':
          description: Student not found
          content:
            application/json:
              example:
                message: Student not found
    
  /teachers:
    get:
      tags:
        - teachers
      summary : Show teachers
      responses:
        '200':
          description: successful operation
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Teachers'
    post:
      tags:
        - teachers
      summary: Add a new teacher
      requestBody:
        content: 
          application/json: 
              schema: 
                $ref: '#/components/schemas/Teachers'
        required: true
      responses:
          '201':
            description: Created
            content: 
              application/json: 
                schema: 
                  $ref: '#/components/schemas/Teachers'
components:
  schemas:
    Students:
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Rakoto
        birthdate:
          type: string
          format: date
          example: 2000-01-01
    Teachers:
      properties:
        first name:
          type: string
          example: Ramarozaka
        last name: 
          type: string
          example: Toky
        taughtCourses:
          type: array
          items:
            $ref: '#/components/schemas/Course'
          description: List of courses taught by the teacher
    Course:
      properties:
        name:
          type: string
          example: Algorithmic Programming
        code:
          type: string
          example: PROG1
        duration:
          type: string
          example: 2h
        
      
    